<div class="palm-dialog-content">
	<div class="palm-dialog-title" id="add_dialog_title">Add Bookmark</div>
	<div class="palm-dialog-separator"></div>
	
	<div class="palm-group unlabeled">
		<div class="palm-list">
			<div class="palm-row single">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div id="titleField" x-mojo-element="TextField"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="palm-group unlabeled">
		<div class="palm-list">
			<div class="palm-row single">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div id="urlField" x-mojo-element="TextField"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="response"></div>
	
	<div class="palm-dialog-buttons">
		<div id="addButton" x-mojo-element="Button"></div>
		<div id="cancelButton" x-mojo-element="Button"></div>
	</div>
</div>
