<div id="main">
	<div class="palm-header left">
	
		<div id='filterView' class='header-cal-source'>
			<div id='currentFilterView' class='header-cal-selector'>All</div>
			<div class="header-cal-source-hit-target"></div>
		</div>	
		<div class="icon preferences" style="background-image: url(icon32x32.png);"></div>
		<div class="title" id="main_title">Articles</div>
	</div>
	<br/><br/>
	<div id="article-list" class="article-list" x-mojo-element="FilterList"></div>
	<div id="article-details-action" x-mojo-element="ListSelector"></div>
</div>
