<div class='palm-scene palm-hasheader'>

  <div class="palm-page-header multi-line">
    <div class="palm-page-header-wrapper">
      <div class="icon palm-account-icon secure"></div>
      <div class="title un-capitalize">Relego for webOS</div>
    </div>
  </div>

  <div class="palm-text-wrapper">
    <div class="palm-body-text">
      Read It Later allows you to save pages to read later.
    </div>
  </div>

  <div class="palm-group">
    <div class="palm-group-title">Username</div>
    <div class="palm-list">

      <div class="palm-row single">
        <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
          <div class="title">
  					<div id="username" x-mojo-element="TextField" ></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="palm-group">
    <div class="palm-group-title">Password</div>
    <div class="palm-list">

      <div class="palm-row single">
        <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
          <div class="title">
  					<div id="password" x-mojo-element="PasswordField" ></div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="palm-group">
    <div class="palm-group-title" x-mojo-loc="">New Account</div>
    <div class="palm-list">
      <div class="palm-row single">
        <div class="palm-row-wrapper">
          <div x-mojo-element="CheckBox" id="new" name="new" class="left"></div>
          <div class="title">Create New Account</div>
        </div>
      </div>
    </div>
  </div>

  <div id="authBtn" x-mojo-element="Button" class="affirmative"></div>

  <div class="palm-scrim" id="spinnerScrim">
    <div x-mojo-element="Spinner" id="mojoSpinner" name="mojoSpinner"></div>
  </div>
</div>
