<div class="my-scene-fade-bottom" id="myscenefadebottom" x-mojo-scroll-fade="bottom"></div>
<div id="main" class="palm-scene">
	<div class="palm-page-header brandHeader" id="brandHeader">
		<div class="palm-page-header-wrapper">
			<div class="title" id="title">Help</div>
		</div>
	</div>


	<div id="helpContent" class="palm-body-text" style="margin:10px; font-size:14px;">
		
		<!-- -->
		
		<div id="helpWhatIs" title="What Is Relego" style="display:none;">
			Relago is Latin for: <em>to bring back a message, refer.</em> It is a client for the <a href="http://readitlaterlist.com/">Read It Later</a> web service.<br />
			<br />
			<b>Save</b>: Save pages from your computer or phone<br />
			<br />
			<b>Read on or offline</b>: Read at home, work, on the plane, or during your commute;&nbsp;<em>even without an internet connection</em><br />
			<br />
			<b>Access Anywhere</b>: Whether you want to read it from your phone or your desktop, you can.<br />
			<br />
			
			<br />
		</div>

		<!-- -->
		
		<div id="helpPatch" title="webOS Browser Patch" style="display:none;"><br />
			Using Relego to save your webpages for later reading works great. But who wants to copy and paste in the URL every time?<br />
			<br />
			To remedy this, we have created a special patch for your webOS device. This patch gives you the ability to use the browser on your device as normal, then send the URL directly to Relego with a few taps. After installing the patch, simply tap on the Application Menu, then Page, and &quot;Add to Relego&quot;.<br />
			<br />
			<img src="images/relego-patch-small.png" />
			<br />
			<br />
			<strong>Getting the Patch</strong><br />
			If you are a Preware user, simply load up the patches section. Go into the Browser category and install the 'Send to Relego' patch.<br />
			<br />
			If you do not have Preware on your device, you can follow these instructions:<br />
		</div>	
		
		<!-- -->
		
		<div id="helpDesktop" title="Read It Later for your Desktop" style="display:none;"><br />
			<a href="http://readitlaterlist.com">Read It Later</a> (http://readitlaterlist.com) is a well known and established service. Being established, there are several tools and options for your desktop computer and other mobile devices. Relego uses the web based service to store your articles, and thus works with all of these tools.<br />
			<br />
			<b>For Your Computer</b>
			<ul>
				<li><a href="http://readitlaterlist.com/apps/firefox/">Firefox</a></li>
				<li><a href="http://readitlaterlist.com/apps/chrome/">Chrome</a></li>
				<li><a href="http://readitlaterlist.com/apps/safari/">Safari</a></li>
				<li><a href="http://readitlaterlist.com/apps/desktop/">Desktop</a></li>
				<li><a href="http://readitlaterlist.com/apps/web/">Web Based</a><br />
				</li>
			</ul>
			<br />
			<b>Mobile Devices</b>
			<ul>
				<li><a href="http://readitlaterlist.com/apps/iphone/">iPhone</a></li>
				<li><a href="http://readitlaterlist.com/apps/ipad/">iPad</a></li>
				<li><a href="http://readitlaterlist.com/apps/android/">Android</a></li>
				<li><a href="http://readitlaterlist.com/apps/blackberry/">Blackberry</a></li>
				<li><a href="http://readitlaterlist.com/apps/s60/">S60</a></li>
				<li><a href="http://readitlaterlist.com/apps/windowsmobile/">Windows Mobile</a></li>
				<li><a href="http://readitlaterlist.com/apps/ebooks/">eBook Reader</a></li>
				<li><a href="http://readitlaterlist.com/apps/mobile/">Others</a></li>
			</ul>
		</div>
		
		
		<!-- -->
		
		<div id="helpFAQ" title="FAQs" style="display:none;">
			<table class='palm-list-section-label' style="margin-left:-10px; margin-right:-40px; width:320px;"><tr><td class=left></td><td class=label>Application FAQs</td><td class=right></td></tr></table>
			<strong>Q.) Is a Read It Later Account Required?</strong><br />
			Yes, an account is required.<br />
			<br />
			<strong>Q.) Are there tools for my home computer?</strong><br />
			Yes. Visit the Read It Now website (<a href="http://readitlaterlist.com">http://readitlaterlist.com</a>) for a full list of tools and resources for your desktop computer and other mobile devices.<br />
			<br />
			<strong>Q.) ???</strong><br />
			Need more FAQS<br />
			<br />
			<strong>Q.) ???</strong><br />
			Need more FAQS<br />
			<br />
			<br />
		</div>

		<!-- -->


	</div>
	<div id="info"></div>
</div>