<div class="my-scene-fade-bottom" id="myscenefadebottom" x-mojo-scroll-fade="bottom"></div>
<div id="main">
	<div class="palm-page-header brandHeader" id="brandHeader">
		<div class="palm-page-header-wrapper">
			<div class="title" id="title">Help</div>
		</div>
	</div>


	<div id="helpContent" class="palm-body-text" style="margin:10px; font-size:14px;">
		
		<!-- -->
		
		<div id="helpWhatIs" title="What Is Relego" style="display:none;">
			Relago is Latin for: <em>to bring back a message, refer.</em> It is a client for the <a href="http://readitlaterlist.com/">Read It Later</a> web service.<br />
			<br />
			<b>Save</b>: Save pages from your computer or phone<br />
			<br />
			<b>Read on or offline</b>: Read at home, work, on the plane, or during your commute;&nbsp;<em>even without an internet connection</em><br />
			<br />
			<b>Access Anywhere</b>: Whether you want to read it from your phone or your desktop, you can.<br />
			<br />
			
			<br />
		</div>

		<!-- -->
		
		<div id="helpPatch" title="What Is Relego" style="display:none;">
			If you are a homebrew user, there is a special patch for this app and your device browser. With this patch you can send webpages you are looking at and send them directly to Relego to read them later.<br />
			<br />
			Using Preware, simply load up the patches section. Go into the Browser category and install the 'Send to Relego' patch.<br />
			<br />
			<img src="images/relego-patch-small.png" />
		</div>
		
		
		<!-- -->
		
		<div id="helpFAQ" title="FAQs" style="display:none;">
			<table class='palm-list-section-label' style="margin-left:-10px; margin-right:-40px; width:320px;"><tr><td class=left></td><td class=label>Application FAQs</td><td class=right></td></tr></table>
			<strong>Q.) Is a Read It Later Account Required?</strong><br />
			Yes, an account is required.<br />
			<br />
			<strong>Q.) ???</strong><br />
			Need more FAQS<br />
			<br />
			<strong>Q.) ???</strong><br />
			Need more FAQS<br />
			<br />
			<strong>Q.) ???</strong><br />
			Need more FAQS<br />
			<br />
			<br />
		</div>

		<!-- -->


	</div>
	<div id="info"></div>
</div>