<!-- **** Display prefs **** -->
		<div class="palm-group">
			<div class="palm-group-title" x-mojo-loc='' id="appOptionsTitle">Display Settings</div>
			<div class="palm-list">
				<div class="palm-row first">
					<div class="palm-row-wrapper">
								<div x-mojo-element="ListSelector" id="themeSelectorId"></div>
					</div>
				</div>
				<div class="palm-row last">
					<div class="palm-row-wrapper">
								<div x-mojo-element="ToggleButton" id="allowRotateToggleId"></div>
								<div class='label left truncating-text' id='allowRotateLabel'>Allow Landscape</div>		
					</div>
				</div>
			</div>
		</div>
