/* Style it here */
/* background image for light and dark themes */
body.palm-default {
    background: url('../images/relegoBG.png') top left no-repeat;
    z-index: -1;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 320px;
    height: 480px;
}

body.palm-default.palm-dark {
  background: url(../images/relegoDarkBG.png) top left no-repeat;	
    z-index: -1;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 320px;
    height: 480px;
}

/* main-scene */
.filter-field-container-height {
 height: 96px;
}

/* article-list scene */
.article-list .title {
	padding: 10px 5px 0 5px !important;
}
.article-list .subtitle {
	color: #333333;
	padding: 0 5px 10px 5px !important;
}

.palm-dark .article-list .subtitle {
	color: #dddddd;
}

.article-list .unread .article-title {
	font-weight: bold;
}

.article-list .read .article-title {
}

.header-cal-source {
	position:relative;
	float:right;
	margin: 8px -16px 0px 0px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	height:35px;
	line-height: 33px;
	border-width: 0px 22px 0px 16px;
	-webkit-border-image: url(../images/cal-selector-header-gray.png) 0 22 0 16 stretch stretch;
	-webkit-box-sizing: border-box;	
}
.header-cal-source-hit-target { 
	position:absolute;
	top:-10px;
	left:-35px;
	right:-25px;
	height:52px;
}
.header-cal-selector {
	margin-left:-5px;
	padding-right: 2px;
	background: transparent;
	display:inline-block;
	min-width: 12px;
	max-width: 80px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.header-down-arrow {
	background: transparent;
	float:right;
	display:inline-block;
	background: url(../images/header-arrow-down.png) right center no-repeat;
	height:36px;
	margin-right:-5px;
	width:10px;
}
.header-cal-source:active	{-webkit-border-image: url(../images/cal-selector-headerpress-gray.png) 0 22 0 16 stretch stretch;}

.easterEggImage {
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0;
	-webkit-transition-property: opacity z-index;
	-webkit-transition-duration: 2s;
	z-index: -1;
}

.easterEggImage.show {
	opacity: 1;
	z-index: 100;
}


