<div class="my-scene-fade-bottom" id="myscenefadebottom" x-mojo-scroll-fade="bottom"></div>
<div id="main">
	<div class="palm-header left" id="pageHeader">Clue Hep</div>
	<div class="palm-header-spacer"></div>

	<div id="helpContent" class="palm-text-wrapper">
		<!-- get started text-->
		<div id="helpStart" title="Get started/The Basics" style="display:none;">
			<div class="palm-body-text">Welcome to Clue.</div>
			<div class="palm-body-title">Add a Reminder</div>
			<div class="palm-info-text">
				In Clue a reminder is defined as something that reminds you <em>at</em> a specific time. For example: Call a person at 6PM.
			</div>
			<div class="palm-body-text">
				If you're new around here you probably have a empty reminder list or the sample reminders delivered with Clue.<br />
				You can add a reminder by tapping the <strong>Add</strong> item below the reminder list, or even easier, simple <strong>Just Type</strong> in a few characters, both ways will open up the <em>Add Reminder Dialog</em>.<br />
				Here you can type a title or leave it empty, this will set the title to <em>Reminder</em>.<br />
				Next select a <em>date</em> and the <em>time</em> when Clue should remind you about something.<br />
				We also included 3 <em>quick presets</em> below the time picker, where you can set a time faster. These quick presets are completely customizable in the preferences of Clue. Simply set up to 3 times you often use there to access them in the Add Dialog.<br />
				The behavior of the <em>quick presets</em> is as follows:
				<ul>
					<li>If you select a date first and than press a quick preset, only the time will change.</li>
					<li>If you press the quick preset first, Clue assumes you will set a reminder even faster, so we set the next occurrence of the date and time.</li>
				</ul>
				As soon as you tap the <strong>Add</strong> button your reminder is set and you're done!<br />
				You don't need to keep Clue open, we use webOS provided system alarms to remind you, so even if the app is closed you will get a notification that a reminder is overdue.
			</div>

			<!-- next paragraph -->

			<div class="palm-body-title">Manage reminders</div>
			<div class="palm-body-text">
				In the reminder list you have the option to sort reminders by <em>time</em> or by <em>title</em>. <strong>Overdue</strong> reminders will always stay on top of the list and are marked red. Only non overdue reminders will be sorted according to the sort order below.<br />
				If you tap on a reminder you can change all of its settings (title, date and time).<br />
				There is a checkbox on the right in the reminder list, if you tap it, the reminder is marked as <em>done</em>. After a few seconds this reminder is moved automatically to the history. (For more info, see the Advanced help section).<br />
				If you don't need a reminder anymore, you can simply <em>swipe</em> the reminder away to delete it as in all webOS lists. If you delete, than the reminder is permanently deleted and can not be used again.
			</div>

			<!-- next paragraph -->

			<div class="palm-body-title">Add a timer</div>
			<div class="palm-info-text">
				In Clue a timer is defined as something that reminds you <em>in</em> a specific time. For example: Empty the dishwasher in 50 minutes.<br />A timer has a minimum time of 5 minutes and a maximum time of 24 hours. This is webOS system specific and we cannot change this.
			</div>
			<div class="palm-body-text">
				You can add a timer by tapping the <strong>Add</strong> item below the timer list, or even simpler, <strong>Just Type</strong> in a few characters, both ways will open up the <em>Add Timer Dialog</em>.<br />
				Here you can set a title or leave it empty, this will set the title to <em>Timer</em>.<br />
				Next select the <em>hours</em> and <em>minutes</em> when Clue should remind you about something.<br />
				As soon as you tap the <strong>Add</strong> button your timer is set and starts running!<br />
				You don't need to keep Clue open, we use webOS provided system alarms to remind you, so even if the app is closed you will get a notification that a timer has finished.
			</div>

			<!-- next paragraph -->

			<div class="palm-body-title">Handle timers</div>
			<div class="palm-body-text">
				On the right side of each timer you have a toggle switch. As soon as you set it to <em>on</em> the timer starts. Tap the toggle again and the timer stops.<br />
				If you don't need a timer anymore, simple swipe it away, as in all webOS lists, to delete an item.
			</div>
		</div>
		<!-- next one-->
		
		
		<!-- get started text-->
		<div id="helpStart" title="Get started/The Basics">
			<div class="palm-body-text">Welcome to Clue.</div>
			<div class="palm-body-title">Add a Reminder</div>
			<div class="palm-info-text">
				In Clue a reminder is defined as something that reminds you <em>at</em> a specific time. For example: Call a person at 6PM.
			</div>
			<div class="palm-body-text">
				If you're new around here you probably have a empty reminder list or the sample reminders delivered with Clue.<br />
			</div>
		</div>
	</div>
</div>
